
{{ define "post/index.tmpl" }}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Gin 框架测试</title>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/public/css/index.css">
    </head>

    <body>
    <div class="container">
        <h1>这是一个测试页面</h1>
        <p>{{ .title }}</p>
    </div>
    </body>
    </html>
{{ end }}