{{ define "home/index.tmpl" }}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Gin 框架测试</title>
    </head>

    <body>
    <div class="container">
        <h1>这是一个测试页面-首页</h1>
        <p>{{ .title }}</p>
        <p style="padding-left: 100px">
            =====包含模块=====<br />

            官网++<br />
            --新闻<br />
            --案例展示<br />
            --服务项目<br />
            --活动<br />
            --优势<br />
            --联系我们<br />
            --留言<br />

            <br />
            <br />

            学院++(视频资源存放优酷或者腾讯,后台上传链接)<br />
            --php<br />
            --HTML<br />
            --Css<br />
            --Javascript<br />
            --Node<br />
            --React<br />
            --Vue<br />
            --话题讨论(提问回答)<br />
        </p>
    </div>
    </body>
    </html>
{{ end }}