{{ define "about/index.tmpl" }}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Gin 框架测试</title>
    </head>

    <body>
    <div class="container">
        <h1>这是一个测试页面</h1>
        <p>{{ .title }}</p>
    </div>
    </body>
    </html>
{{ end }}